<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/index.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
	<script src="https://cdn.bootcdn.net/ajax/libs/qs/6.9.4/qs.min.js"></script>
	<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
	<link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.2/theme-chalk/index.css" rel="stylesheet">
	<style>
		html,body{
			height: 100%;
			margin: 0px;
		}
		.el-header, .el-footer {
			background-color: #B3C0D1;
			color: #333;
			text-align: center;
			line-height: 100px;
		}


		.el-aside {
			background-color: #D3DCE6;
			color: #333;
			text-align: left;
			line-height: 200px;
		}

		.el-main {
			background-color: #E9EEF3;
			color: #333;
			text-align: center;
		}
		.el-container:nth-child(5) .el-aside,
		.el-container:nth-child(6) .el-aside {
			line-height: 260px;
		}

		.el-container:nth-child(7) .el-aside {
			line-height: 320px;
		}
		#base{
			height: 100%;
		}
		.el-container{
			height: 100%;
		}
		a{
			text-decoration: none;
			color: white;
		}
	</style>
</head>
<body>
<div id="base">
	<el-container>
		<el-header height="100px">xxxxx管理系統</el-header>
		<el-container>
			<el-aside width="200px">
				<el-row class="tac">
					<el-col :span="24">
						<el-menu :default-active="openmenu" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose"
								 background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
							<el-submenu :index="menu.menuid" v-for="(menu,indexo) in menus">
								<template slot="title">
									<i :class="menu.glyphicon"></i>
									<span>{{menu.menuname}}</span>
								</template>
								<el-menu-item-group v-for="(sub,index) in menu.submenu">
									<a :href="sub.menuurl">
										<el-menu-item :index="sub.menuid">{{sub.menuname}}</el-menu-item>
									</a>
								</el-menu-item-group>
							</el-submenu>
						</el-menu>
					</el-col>
				</el-row>


			</el-aside>
			<el-main>
				<el-form :inline="true" ref="myForm" class="demo-form-inline">
					<el-form-item label="菜单名称">
						<el-input v-model="qmname" placeholder="菜单名称"></el-input>
					</el-form-item>
					<el-form-item label="父菜单">
						<el-select v-model="qpid" placeholder="父菜单">
							<el-option label="无" :value="0"></el-option>
							<el-option v-for="option in options" :label="option.menuname" :value="option.menuid"></el-option>

						</el-select>
					</el-form-item>
					<el-form-item>
						<el-button type="warning" plain @click="queryMenu">查询</el-button>
						<el-button @click="resetForm('myForm')">重置</el-button>
						<el-button type="success" plain @click="addDialog = true">添加</el-button>
						<el-button type="primary" plain :disabled="btnStatus" @click="editDialog = true">修改</el-button>
						<el-button type="danger" plain :disabled="btnStatus" @click="removerow">删除</el-button>

					</el-form-item>
				</el-form>

				<template>
					<el-table :data="tableData" highlight-current-row @current-change="handleCurrentChange" style="width: 100%">
						<el-table-column prop="menuid" label="菜单编号" width="180">
						</el-table-column>
						<el-table-column prop="menuname" label="菜单名称" width="180">
						</el-table-column>
						<el-table-column prop="menuurl" label="地址">
						</el-table-column>
						<el-table-column prop="pid" label="父菜单" v-if="false">
						</el-table-column>
						<el-table-column prop="pname" label="父菜单名称">
						</el-table-column>
						<el-table-column prop="glyphicon" label="图标">
							<template v-slot="ttttt">
								<i :class="ttttt.row.glyphicon"></i>
								{{ttttt.row.glyphicon}}
							</template>
						</el-table-column>
					</el-table>
				</template>
				<el-pagination @size-change="handleSizeChange" @current-change="handlePageChange" :current-page="page"
							   :page-sizes="[10, 20, 30]" :page-size="pagesize" layout="total, sizes, prev, pager, next, jumper" :total="total">
				</el-pagination>
			</el-main>
		</el-container>
	</el-container>



	<el-dialog title="添加" :visible.sync="addDialog">
		<el-form :model="addform">
			<el-form-item label="菜单编号" :label-width="formLabelWidth">
				<el-input v-model="addform.menuid" autocomplete="off"></el-input>
			</el-form-item>
			<el-form-item label="菜单名称" :label-width="formLabelWidth">
				<el-input v-model="addform.menuname" autocomplete="off"></el-input>
			</el-form-item>
			<el-form-item label="菜单URL" :label-width="formLabelWidth">
				<el-input v-model="addform.menuurl" autocomplete="off"></el-input>
			</el-form-item>

			<el-form-item label="父菜单" :label-width="formLabelWidth">
				<el-select v-model="addform.pid" placeholder="父菜单">
					<el-option label="无" :value="0"></el-option>
					<el-option v-for="option in options" :label="option.menuname" :value="option.menuid"></el-option>
				</el-select>
			</el-form-item>

			<el-form-item label="菜单图标" :label-width="formLabelWidth">
				<el-input v-model="addform.glyphicon" autocomplete="off"></el-input>
			</el-form-item>

		</el-form>
		<div slot="footer" class="dialog-footer">
			<el-button @click="addDialog = false">取 消</el-button>
			<el-button type="primary" @click="addsubmit">确 定</el-button>
		</div>
	</el-dialog>

	<el-dialog title="修改" :visible.sync="editDialog">
		<el-form :model="editform">
			<el-form-item label="菜单编号" :label-width="formLabelWidth">
				<el-input v-model="editform.menuid" :disabled="true" autocomplete="off"></el-input>
			</el-form-item>
			<el-form-item label="菜单名称" :label-width="formLabelWidth">
				<el-input v-model="editform.menuname" autocomplete="off"></el-input>
			</el-form-item>
			<el-form-item label="菜单URL" :label-width="formLabelWidth">
				<el-input v-model="editform.menuurl" autocomplete="off"></el-input>
			</el-form-item>

			<el-form-item label="父菜单" :label-width="formLabelWidth">
				<el-select v-model="editform.pid" placeholder="父菜单">
					<el-option label="无" :value="0"></el-option>
					<el-option v-for="option in options" :label="option.menuname" :value="option.menuid"></el-option>
				</el-select>
			</el-form-item>

			<el-form-item label="菜单图标" :label-width="formLabelWidth">
				<el-input v-model="editform.glyphicon" autocomplete="off"></el-input>
			</el-form-item>
		</el-form>
		<div slot="footer" class="dialog-footer">
			<el-button @click="editDialog = false">取 消</el-button>
			<el-button type="primary" @click="editsubmit">确 定</el-button>
		</div>
	</el-dialog>

</div>

</body>
<script src="js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
<script>
    $(function(){
        $("")
    })

    var Main = {
        data() {
            return {
                openmenu: "11002",
                menus: [],
                tableData: [],
                options: [{
                    "text": "无",
                    "val": 0
                }, {
                    "text": "权限管理",
                    "val": 11
                }],
                page: 1,
                total: 1,
                pagesize: 3,
                qmname: "",
                param:"",
                qpid: "",
				btnStatus:true,
                addDialog: false,
                editDialog: false,
                formLabelWidth: '120px',
                addform: {
                    glyphicon: "",
                    menuid: "",
                    menuname: "",
                    menuurl: "",
                    pid: ""
                },
                editform: {
                    glyphicon: "",
                    menuid: "",
                    menuname: "",
                    menuurl: "",
                    pid: ""
                }
            }
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            },
            handleCurrentChange(val) {
                //console.log(val);
                this.currentRow = val;
            	this.btnStatus=false;
                //table数据改变 会触发handleCurrentChange 避免给editform赋空值
                if (val != null) {
                    this.editform = val;
                }

            },
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pagesize = val;
                this.page = 1;
                var param = "dowhat=query&qmname=" + this.qmname + "&qpid=" + this.qpid + "&page=" + this.page + "&pagesize=" +val;
                this.myquery(param);
            },
            handlePageChange(val) {
                console.log(`当前页: ${val}`);
                var param = "qmname=" + this.qmname + "&qpid=" + this.qpid + "&page=" + val + "&pagesize=" + this.pagesize;
                this.myquery(param);
            },
            queryMenu() {
				console.log("query");
                this.myquery("qmname=" + this.qmname + "&qpid=" + this.qpid);
            },
            resetForm(formName) {
                this.qmname = "";
                this.qpid = "";
            },
            addsubmit() {

                this.addDialog = false;
                var path ="menu/add"
                var param = window.Qs.stringify(this.addform);
                console.log(param);
                this.cud(path,param);
                //完成后 清空添加form
                this.addform = [];
            },
            editsubmit() {
                this.editDialog = false;
                var path ="menu/edit"
                var param = window.Qs.stringify(this.editform);
                console.log(param);
                this.cud(path,param);
                //完成后 清空添加form
                this.editform = [];
            },
            removerow() {
                this.$confirm('此操作将永久删除该记录, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    var path ="menu/remove"
                    var param = "menuid=" + this.currentRow.menuid;
                console.log(param);
                this.cud(path,param);
            }).catch(() => {
                    this.$message({
                    type: 'info',
                    message: '已取消删除'
                });
            });
            },
            getmenu(){
                //页面首次查询
                axios.get('getmenu')
                    .then(response => {
                    console.log(response);
                if (response.data.returnCode == 20000) {
                    location.href = "index2.html";
                }
                this.menus = response.data.returnData;

            }).catch(function(error) {
                    console.log(error);
                });
            },
            cud(path,param){
                axios.get(path+"?"+ param)
                    .then(response => {
                    console.log(response);
                if (response.data.returnCode == 10000) {
                    this.$message({
                        type: 'success',
                        message: response.data.returnMsg
                    });
                    //执行成功cud后 重新查询数据
                    var qparam = "qmname=" + this.qmname + "&qpid=" + this.qpid + "&page=" + this.page + "&pagesize=" +
                        this.pagesize;
                    this.myquery(qparam);

                } else {
                    this.$message({
                        type: 'error',
                        message: response.data.returnMsg
                    });
                }

            }).catch(function(error) {
                    console.log(error);
                });
            },
            myquery(param){
                axios.get('menu/query?' + param)
                    .then(response => {
                    console.log(response);
                if (response.data.returnCode == 20000) {
                    location.href = "index2.html";
                }


                this.tableData = response.data.returnData;
                this.page = response.data.pageinfo.page;
                this.pagesize = response.data.pageinfo.pagesize;
                this.total = response.data.pageinfo.total;
            }).catch(function(error) {
                    console.log(error);
                });

                //查询时 重新获取下拉菜单内容
                axios.get('menu/getmenuselect')
                    .then(response => {
                    console.log(response);
                this.options = response.data.returnData;
            }).catch(function(error) {
                    console.log(error);
                });
            }
        },
        created() {
            axios.defaults.withCredentials = true;
            this.getmenu();
            this.myquery("");


        },
		watch:{
            tableData:function(){
                console.log("更新了数据")
                this.$nextTick(function(){

                    this.btnStatus = true;
                })

			}
		}
    }

    var Ctor = Vue.extend(Main)
    new Ctor().$mount('#base')


</script>
</html>
